<%- include('partials/nav'); -%>
<div class="flex w-full min-h-screen items-center justify-center md:block md:shrink">
    <div class="flex w-3/4 mt-4 rounded-lg h-20 border drop-shadow-lg items-center justify-between">
        <div>
        <p class="title text-xs pl-4 pr-1" id="statement"><%=statement.statement%></p>
        <p>hello world</p>
        </div>
        <div class="mr-4 text-white md:shrink-0 ">
        <a href="/feed/<%=statement._id%>/upvote" id="upvote" class="p-1 text-xs md:p-4 rounded-lg bg-green-400"><i class="pr-1 fa-solid fa-arrow-up"></i><%=statement.upvotes%></a>
        <a href="/feed/<%=statement._id%>/downvote" id="downvote" class="p-1 text-xs md:p-4 rounded-lg bg-red-400"><i class="pr-1 fa-solid fa-arrow-down"></i><%=statement.downvotes%></a>
        </div>
    </div>
</div>
<%- include('partials/foot'); -%>
